<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="commons/template.html :: headerfiles"></head>
	<body>
		<div th:replace="commons/template.html :: menu"></div>
		
		<div class="main-container">
			STEP 2
		    <div class="row">
	            <div class="col-12 well text-center" >
	            	<form method="GET" th:action="@{/control/start}" th:object="${controlDto2}">
		            	<h3 th:text="#{messages.choose.product}"></h3>
		            	
		            	<div th:if="${products.size() > 0}" th:each="product : ${products}">
		            		<input th:id="${product.id}" type="radio" th:value="${product.id}"/>
		            		<label th:for="${product.id}" th:text="${product.name}"></label>
		            	</div>
		            	
		            	<input type="submit" th:value="#{messages.next}"/>
	            	</form>
	            </div>
		    </div>
		</div>
		
		<div th:replace="commons/template.html :: js-scripts"></div>
	</body>
</html>