<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

	<div th:fragment="createsubproduct">
		<form method="POST" th:action="@{'/products/subproduct/create'(size=${products.size}, page=${products.number + 1})}" th:object="${subProduct}" enctype="multipart/form-data">
				
			<input type="hidden" th:field="*{fatherProduct}" id="father-product-id"/>
			
			<div class="modal fade" id="createSubProductModal" tabindex="-1" role="dialog" aria-labelledby="createSubProductModal" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="Shto_content">
						
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        						<span aria-hidden="true">&times;</span>
      						</button>
      						
      						<br/>
      						
							<h2 th:text="#{messages.subproduct.create}" style="width: 100%;"></h2>
							

						<div class="row">
							<div class="col-lg-12">
							<div class="form-input">
             					 <div class="form-input-box">
              					  <input
                  					type="text"
                 					name="name"
                  					autocomplete="off"
                  					th:field="*{name}"
                  					required
                					/>
               					 <label class="label-name" for="name">
                  					<span class="content-name" th:text="#{messages.name} + ' *'" ></span>
               					</label>
             					</div>
           					 </div>
									<span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
							</div>
								
							<div class="col-lg-12">
									<div class="upload_img">
             					<h1> <label for="img" th:text="#{messages.image}"></label></h1>
             					 <div class="flex_up_img">
                					<input
                						name="img"
                  						type="file"
						                multiple="false"
						                accept="image/png, image/jpeg, image/jpg"
						                id="finput"
						                onchange="upload()"
               						/>
               					 <canvas id="canv1" style=" height:50px; width:50px; border-radius:25px; border-style: solid; border-width: 1px; border-color: rgb(122, 113, 113); position: relative; top: -14px;"></canvas>
             					 </div>
           					 </div>
							</div>
								
							<div class="col-lg-12">
									<div class="cimi">
              					<h1 th:text="#{messages.price.per.kg}"> </h1>
             				<div class="flex_up_img">
                				<div>
                  					<input type="number" id="price" class="text-input" name="price" th:field="*{price}" step=".0001" required />
                 					 <span>/kg</span>
                				</div>
               					 
               				<span class="validationError" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
              						</div>
           				 		</div>			
							</div>
							<input class="btn btn-primary" type="submit" th:value="#{messages.save}" sec:authorize="hasAuthority('UPSERT_PRODUCTS_PRIVILEGE')"/>
						</div>
								
					</div>
				</div>
				</div>
			</div>
			
			<div th:if="${#fields.hasErrors()}">
				<script type="text/javascript">
					$('#createSubProductModal').modal('show');
				</script>
			</div>
		</form>
	</div>
</html>