<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org">
	<head th:replace="/commons/template.html :: headerfiles"></head>
	
	<body>
		<div th:replace="/commons/template.html :: menu"></div>
		
		<div class="main-container">
			<h1 th:text="#{messages.areas}" class="page-title"></h1>
			
			<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
			
			<div class="filter-row">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createAreaModal" th:text="#{messages.area.create}" sec:authorize="hasAuthority('UPSERT_AREAS_PRIVILEGE')"></button>
			</div>
			
			<div class="row-table">
				<div th:if="${areas.content.size() > 0}" th:each="area : ${areas.content}" class="singular-row">
					<div class="col">
						<span class="row-table-text" th:text="#{messages.name}"></span>
						<a class="row-table-value" th:href="@{'/areas/{id}/vacancies'(id=${area.id})}" th:text="${area.name}"></a>
					</div>
					
					<div class="col">
						<span class="row-table-text" th:text="#{messages.capacity}"></span>
						<span class="row-table-value" th:text="${area.employeeNumber + '/' + area.capacity}"></span>
					</div>
					
					<div class="col">
						<span class="row-table-text" th:text="#{messages.user.controller}"></span>
						<span class="row-table-value" th:if="${area.user != null}" th:text="${area.user.firstName + ' ' + area.user.lastName}"></span>
						<span class="row-table-value" th:if="${area.user == null}">-</span>
					</div>
					
					<div class="col">
						<span class="row-table-text" th:text="#{messages.status}"></span>
						<span class="row-table-value" th:text="${area.enabled} ? #{messages.active} : #{messages.not.active}" th:style="${area.enabled} ? 'color: #1f9583;' : 'color: #f1818c;'"></span>
					</div>
					
					<div class="col">
						<a th:id="'editAreaHref' + ${area.id}" th:href="@{'/areas/{id}'(id=${area.id})}" sec:authorize="hasAuthority('UPSERT_AREAS_PRIVILEGE')" style="padding-right: 20px;" th:onclick="'loadArea(event, ' + ${area.id} + ')'">
							<i class="fas fa-pen row-table-icons" data-toggle="tooltip" data-placement="top" th:title="#{messages.update}"></i>
						</a>
							
						<form th:id="'deleteAreaForm' + ${area.id}" method="POST" th:action="@{'/areas/delete/{id}'(id=${area.id}, size=${areas.size}, page=${areas.number + 1})}" sec:authorize="hasAuthority('DELETE_AREAS_PRIVILEGE')" style="display: initial;">
							<a href="#" data-toggle="modal" data-target="#deleteAreaModal" th:onclick="'setDeleteAreaId(' + ${area.id} + ')'">
								<i class="fas fa-times row-table-icons" data-toggle="tooltip" data-placement="top" th:title="#{messages.delete}"></i>
							</a>
						</form>
					</div>
				</div>
				
				<div th:if="${areas.totalPages > 1 && areas.content.size() > 0}">
					<ul class="pagination">
						<li th:class="${areas.number == 0 ? 'page-item disabled not-allowed-cursor' : 'page-item'}">
							<a class="page-link" th:href="@{/areas(size=${areas.size}, page=${areas.number})}">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li th:if="${areas.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
						    <a th:href="@{/areas(size=${areas.size}, page=${pageNumber})}" th:text=${pageNumber} 
						    	th:class="${pageNumber == areas.number + 1} ? 'page-link active' : 'page-link'"></a>
						</li>
						<li th:class="${(areas.number + 1) == areas.totalPages ? 'page-item disabled not-allowed-cursor' : 'page-item'}">
							<a class="page-link" th:href="@{/areas(size=${areas.size}, page=${areas.number + 2})}">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</div>
				
				<div th:if="${areas.content.size() == 0}">
					<p th:text="#{messages.no.areas}"></p>
				</div>
			</div>
		</div>
		
		<div th:replace="/private/areas/createarea.html :: createarea" sec:authorize="hasAuthority('UPSERT_AREAS_PRIVILEGE')"></div>
		<div th:replace="/private/areas/editarea.html :: editarea" sec:authorize="hasAuthority('UPSERT_AREAS_PRIVILEGE')"></div>
		<div th:replace="/private/areas/deletearea.html :: deletearea" sec:authorize="hasAuthority('DELETE_AREAS_PRIVILEGE')"></div>
		
		<div th:replace="/commons/template.html :: js-scripts"></div>
	</body>
</html>