<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

	<div th:fragment="createarea">
		<form method="POST" th:action="@{/areas/create(size=${areas.size}, page=${areas.number + 1})}" th:object="${area}">	
			<div class="modal fade" id="createAreaModal" tabindex="-1" role="dialog" aria-labelledby="createAreaModal" aria-hidden="true">
				<div class="modal-dialog area" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row area">
								<div class="col">
									<span class="row-table-text" th:text="#{messages.name} + ' *'"></span>
									<input class="text-input" type="text" name="name" th:field="*{name}" required/>
									<br/>
									<span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
								</div>
								
								<div class="col">
									<span class="row-table-text" th:text="#{messages.capacity} + ' *'"></span>
									<input class="number-input" type="number" name="capacity" th:field="*{capacity}" required/>
									<br/>
									<span class="validationError" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></span>
								</div>
								
								<div class="col">
									<span class="row-table-text" th:text="#{messages.user}"></span>
									<select class="text-input" name="user" th:field="*{user}" th:if="${users.size() > 0}">
										<option th:text="#{messages.none}" value=""></option>
										<option th:each="user : ${users}" th:value="${user.id}" th:text="${user.firstName + ' ' + user.lastName}"/>
									</select>
								</div>
								
								<div class="col">
									<input class="btn btn-primary" type="submit" th:value="#{messages.create}" sec:authorize="hasAuthority('UPSERT_AREAS_PRIVILEGE')"/>
								</div>
								
								<div class="col">
									<button type="button" class="btn btn-cancel" data-dismiss="modal">
										<i class="fas fa-times"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div th:if="${#fields.hasErrors()}">
				<script type="text/javascript">
					$('#createAreaModal').modal('show');
				</script>
			</div>
		</form>
	</div>
</html>