<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

	<div th:fragment="createvacancy">
		<form method="POST" th:action="@{/areas/{id}/vacancies/create(id=${area.id}, size=${vacancies.size}, page=${vacancies.number + 1})}" th:object="${alterVacancyDTO}">	
			<div class="modal fade" id="createVacancyModal" tabindex="-1" role="dialog" aria-labelledby="createVacancyModal" aria-hidden="true">
				<div class="modal-dialog" role="document" style="width: max-content; margin-top: 200px;">
					<div class="modal-content">
						<div class="custom-modal-header" style="display: unset;">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        						<span aria-hidden="true">&times;</span>
      						</button>
      						
      						<br/>
      						
							<h5 class="modal-title" th:text="#{messages.vacancy.create}" style="width: 100%;"></h5>
							<h6 class="modal-sub-title" th:text="#{messages.new.vacancies.number}" style="width: 100%;"></h6>
    					</div>
    					
						<div class="modal-body" style="padding-top: 0;">
							<div class="row" style="margin-bottom: 0px; padding-bottom: 0px; text-align: center; display: block; padding-top: 0;">
								<button type="button" class="btn btn-math" onclick="decrementNumber('capacity')">-</button>
								<input id="capacity" name="capacity" type="number" required value="1" class="modal-number-input" style="text-align: center;" th:field="*{capacity}"/>
								<button type="button" class="btn btn-math" onclick="incrementNumber('capacity')">+</button>
								<br/>
								<span class="validationError" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></span>
							</div>
						</div>
						
						<div class="modal-footer">
							<div class="col">
								<button type="submit" class="btn btn-primary" th:text="#{messages.create.vacancy.with.codes}"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div th:if="${#fields.hasErrors()}">
				<script type="text/javascript">
					$('#createVacancyModal').modal('show');
				</script>
			</div>
		</form>
	</div>
</html>