<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org">
	<head th:replace="/commons/template.html :: headerfiles"></head>
	
	<body>
		<div th:replace="/commons/template.html :: menu"></div>
		
		<div class="main-container">
			<h1 th:text="${area.name}" class="page-title"></h1>
			
			<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
			
			<div class="filter-row">
				<div class="col" style="padding-left: 0px; text-align: left;">
					<a th:href="@{'/areas/{id}/vacancies'(id=${area.id})}" th:text="#{messages.vacancies}" class="active-tab"></a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#" th:text="#{messages.history}" class="inactive-tab"></a>
				</div>
				
				<div class="col">
					<a class="btn btn-primary" th:href="@{/vacancies/create}" th:text="#{messages.vacancy.create}" sec:authorize="hasAuthority('UPSERT_VACANCIES_PRIVILEGE')" style="margin-top: 10px; float: right;"></a>
				</div>
				
				<div class="col-6" style="padding-right: 0px;">
					<div class="row info-row">
						<div class="col-md-3">
							<span class="row-table-text-2" th:text="#{messages.capacity}"></span>
							<span class="row-table-value-2" th:text="${area.employeeNumber + '/' + area.capacity}"></span>
						</div>
						
						<div class="col-md-6" th:if="${process.isPresent()}" style="text-align: center;">
							<span class="row-table-text-2" th:text="#{messages.latest.process}"></span>
							<span class="row-table-value-2" th:text="${process.get().product.name}"></span>
						</div>
						
						<div class="col-md-3" th:if="${process.isPresent() && process.get().status == 0}">
							<span class="row-table-text-2" th:text="#{messages.status}"></span>
							<span class="row-table-value-2" th:text="#{messages.active}" style="color: #1f9583;"></span>
						</div>
						
						<div class="col-md-3" th:if="${process.isPresent() && process.get().status == 1}">
							<span class="row-table-text-2" th:text="#{messages.status}"></span>
							<span class="row-table-value-2" th:text="#{messages.paused}" style="color: #f1818c;"></span>
						</div>
						
						<div class="col-md-3" th:if="${process.isPresent() && process.get().status == 2}">
							<span class="row-table-text-2" th:text="#{messages.elapsed}"></span>
							<span class="row-table-value-2" th:text="${process.get().elapsedTimeToString}"></span>
						</div>
						
						<div class="col-md-6" th:if="${!process.isPresent()}" style="text-align: center;">
							<span class="row-table-text-2" th:text="#{messages.no.process.for.area}"></span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="table-container">
				<div th:if="${vacancies.content.size() > 0}" th:each="vacancy, iter : ${vacancies.content}" th:class="${iter.index == iter.size - 1 ? 'table-container-rows' : 'table-container-rows bottom-border'}">
					<div class="col">
						<span class="row-table-text" th:text="#{messages.vacancy}"></span>
						<span class="row-table-value" th:text="${vacancy.number}"></span>
					</div>
					
					<div class="col">
						<span class="row-table-text" th:text="#{messages.employee}"></span>
						<span class="row-table-value" th:if="${vacancy.employee != null}" th:text="${vacancy.employee.firstName + ' ' + vacancy.employee.lastName}"></span>
						<span class="row-table-value" th:if="${vacancy.employee == null}">-</span>
					</div>
					
					<div class="col">
						<span class="row-table-text" th:text="#{messages.status}"></span>
						<span class="row-table-value" th:text="${vacancy.enabled} ? #{messages.active} : #{messages.not.active}" th:style="${area.enabled} ? 'color: #1f9583;' : 'color: #f1818c;'"></span>
					</div>
					
					<!--  
					<a th:href="@{'/vacancies/edit/{id}'(id=${vacancy.id})}" th:text="#{messages.vacancy.edit}" sec:authorize="hasAuthority('UPSERT_VACANCIES_PRIVILEGE')"></a>
					
					<form method="POST" th:action="@{'/vacancies/delete/{id}'(id=${vacancy.id})}" sec:authorize="hasAuthority('DELETE_VACANCIES_PRIVILEGE')">
						<input type="submit" th:value="#{messages.vacancy.delete}"/>
					</form>-->
					
					
					<div class="col">
						<a th:id="'editAreaHref' + ${area.id}" th:href="@{'/areas/{id}'(id=${area.id})}" sec:authorize="hasAuthority('UPSERT_AREAS_PRIVILEGE')" style="padding-right: 20px;" th:onclick="'loadArea(event, ' + ${area.id} + ')'">
							<i class="fas fa-pen row-table-icons"></i>
						</a>
							
						<form th:id="'deleteAreaForm' + ${area.id}" method="POST" th:action="@{'/areas/delete/{id}'(id=${area.id})}" sec:authorize="hasAuthority('DELETE_AREAS_PRIVILEGE')" style="display: initial;">
							<a href="#" data-toggle="modal" data-target="#deleteAreaModal" th:onclick="'setDeleteAreaId(' + ${area.id} + ')'">
								<i class="fas fa-times row-table-icons"></i>
							</a>
						</form>
					</div>
				</div>
			</div>
			
			<div th:if="${vacancies.totalPages > 1 && vacancies.content.size() > 0}">
				<ul class="pagination">
					<li th:class="${vacancies.number == 0 ? 'page-item disabled not-allowed-cursor' : 'page-item'}">
						<a class="page-link" th:href="@{/areas/{id}/vacancies(id=${area.id}, size=${vacancies.size}, page=${vacancies.number})}">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li th:if="${vacancies.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
					    <a th:href="@{/areas/{id}/vacancies(id=${area.id}, size=${vacancies.size}, page=${pageNumber})}" th:text=${pageNumber} 
					    	th:class="${pageNumber == vacancies.number + 1} ? 'page-link active' : 'page-link'"></a>
					</li>
					<li th:class="${(vacancies.number + 1) == vacancies.totalPages ? 'page-item disabled not-allowed-cursor' : 'page-item'}">
						<a class="page-link" th:href="@{/areas/{id}/vacancies(id=${area.id}, size=${vacancies.size}, page=${vacancies.number + 2})}">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</div>
			
			<div th:if="${vacancies.content.size() == 0}">
				<p th:text="#{messages.no.vacancies}"></p>
			</div>
		</div>
		
		<div th:replace="/commons/template.html :: js-scripts"></div>
	</body>
</html>