<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerfiles">
		<meta charset="ISO-8859-1">
		<title th:text="#{messages.application.name}"></title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/app.css}" rel="stylesheet">
	</head>
	<body>
	
		<div th:fragment="js-scripts">
			<script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/app.js}"></script>
		</div>
	</body>
</html>