<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

	<div th:fragment="editrole">
		<form method="POST" th:action="@{'/roles/update'(page=${roles.number + 1})}" th:object="${roleDTO}">
			<input id="edit-role-id" type="hidden" th:field="*{id}"/>
			
			<div class="modal fade" id="editRoleModal" tabindex="-1" role="dialog" aria-labelledby="editRoleModal" aria-hidden="true">
				<div class="modal-dialog" role="document" style="max-width: 600px;">
					<div class="modal-content" style="border-radius: 8px;">
						<div class="custom-modal-header" style="display: unset;">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        						<span aria-hidden="true">&times;</span>
      						</button>
      						
      						<br/>
      						
							<h5 class="modal-title" th:text="#{messages.role.create}" style="width: 100%; font-size: 28px; text-align: left; padding-left: 20px;"></h5>
    					</div>
    					
						<div class="modal-body" style="padding-top: 0;">
							<div class="row" style="margin-bottom: 0px; padding-bottom: 0px;">
								<div class="col" style="padding-left: 0px;">
									<div>
										<label class="modal-text-labels" for="name" th:text="#{messages.name} + ' *'"></label>
									</div>
									<input id="edit-role-name" class="text-input" type="text" name="name" th:field="*{name}" required/>
									<br/>
									<span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
								</div>
							</div>
							
							<div class="row" style="margin-bottom: 0px; padding-bottom: 0px;" th:if="${privileges != null && privileges.size() > 0}">	
								<h3 th:text="#{messages.privileges}">: </h3>
								<div id="grid" class="grid" style="overflow: auto;" th:class="${privileges != null && privileges.size() > 0 ? 'product-container-height' : ''}">
									<div id="privileges">
										<div th:each="privilege : ${privileges}">
											<input class="chk" th:id="'edit-role-privilege-' + ${privilege.id}" name="privilege" type="checkbox" th:value="${privilege.id}" th:field="*{privileges}"/>
											<span th:text="${privilege.name}"></span>
											<br />
										</div>
									</div>
								</div>
								<span class="validationError" th:if="${#fields.hasErrors('privileges')}" th:errors="*{privileges}" th:text="#{privilege}"></span>
							</div>
							
							<div class="row" th:if="${privileges != null && privileges.size() > 0}">
								<button type="submit" th:text="#{messages.save}" class="btn btn-primary"></button>				
							</div>
							
							<div class="row" th:if="${privileges == null || privileges.size() == 0}">
								<span th:text="#{messages.no.privileges}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div th:if="${#fields.hasErrors()}">
				<script type="text/javascript">
					$('#editRoleModal').modal('show');
				</script>
			</div>
		</form>
	</div>
</html>