<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org">
	<head th:replace="/commons/template.html :: headerfiles"></head>
	<body>
		<div th:replace="/commons/template.html :: menu"></div>
		
		<div class="main-container">
			<h1 th:text="#{messages.settings}" class="page-title"></h1>
			
			<br/>
			
			<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
			
			<section class="setting_body" style="margin: 0px;">
				<div th:replace="/commons/settingsmenu.html :: settingsmenu"></div>
				
				<div class="sb_table col-lg-8">
					<div class="sb_table_heading">
						<h2 th:text="#{messages.roles}"></h2>
						<a class="btn btn-primary" href="/roles/create" th:text="#{messages.role.create}" sec:authorize="hasAuthority('UPSERT_ROLES_PRIVILEGE')" data-toggle="modal" data-target="#createUserModal"></a>
					</div>
					
					<div class="set_table_body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th scope="col" style="width: 200px" th:text="#{messages.role}"></th>
										<th scope="col" style="width: 100px"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="role: ${roles.content}">
										<td class="st_td_flex" style="padding-top: 0px; padding-bottom: 0px;">
											<span style="padding-left: 0px;">
												<h2 th:text="${role.name}"></h2>
											</span>
										</td>
										<td>
											<div class="st_actions">
												<a th:id="'editUserHref' + ${role.id}" th:href="@{'/roles/{id}'(id=${role.id})}" sec:authorize="hasAuthority('UPSERT_ROLES_PRIVILEGE')" style="padding-right: 20px;" th:onclick="'loadUser(event, ' + ${role.id} + ')'">
													<i class="fas fa-pen row-table-icons" data-toggle="tooltip" data-placement="top" th:title="#{messages.update}"></i>
												</a>
													
												<form th:id="'deleteUserForm' + ${role.id}" method="POST" th:action="@{'/roles/delete/{id}'(id=${role.id}, page=${roles.number + 1})}" sec:authorize="hasAuthority('DELETE_ROLES_PRIVILEGE')" style="display: initial;" th:if="${role.users == null || role.users.size() == 0}">
													<a href="#" data-toggle="modal" data-target="#deleteUserModal" th:onclick="'setDeleteUserId(' + ${role.id} + ')'">
														<i class="fas fa-times row-table-icons" data-toggle="tooltip" data-placement="top" th:title="#{messages.delete}"></i>
													</a>
												</form>
												
												<i th:if="${role.users != null && role.users.size() > 0}" class="fas fa-times row-table-icons disabled-icon not-allowed-cursor"></i>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							
							<div th:if="${roles.content.size() == 0}">
								<p th:text="#{messages.no.roles}"></p>
							</div>
						</div>
						
						<div th:if="${roles.totalPages > 1 && roles.content.size() > 0}">
							<ul class="pagination">
								<li th:class="${roles.number == 0 ? 'page-item disabled not-allowed-cursor' : 'page-item'}">
									<a class="page-link" th:href="@{/roles(page=${roles.number})}">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li th:if="${roles.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
								    <a th:href="@{/roles(page=${pageNumber})}" th:text=${pageNumber} 
								    	th:class="${pageNumber == roles.number + 1} ? 'page-link active' : 'page-link'"></a>
								</li>
								<li th:class="${(roles.number + 1) == roles.totalPages ? 'page-item disabled not-allowed-cursor' : 'page-item'}">
									<a class="page-link" th:href="@{/roles(page=${roles.number + 2})}">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
		
		<div th:replace="/commons/template.html :: js-scripts"></div>
	</body>
</html>