<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="/commons/template.html :: headerfiles"></head>
	<body>
		<div th:replace="/commons/template.html :: menu"></div>
		
		<body>
    <section>
      <div class="p_20_top_head">
        <div class="conatiner-fluid">
          <div class="mytop20_flex">
            <div class="flex1th">
              <img src="img/Artboard – 2.png" />
            </div>
            <div class="flex2th">
              <img src="img/calendar.svg" />
              <span>12/15/2020</span>
              <img src="img/clock.svg" />
              <span>11:58</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="carosel_sec">
      <div class="container">
        <h2 class="caro1_text1">Procesi:<br />Ulli I vogel me spec</h2>
      </div>

      <div>
        <div class="timerdiv">
          <p>14 : 36</p>
        </div>
        <div class="play_pause">
          <div class="play_div">
            <img src="img/play-button.svg" />
            <p>Fillo</p>
          </div>
          <div class="pause_div">
            <img src="img/pause.svg" />
            <p>Ndalo</p>
          </div>
        </div>
      </div>

      <hr class="hr_caro" />

      <div class="container">
        <div class="counting_div">
          <div>
            <a href="Zgjidh-page.html">
              <span class="text_gray_countnum">1</span>
              <span class="text_gray_count">Zgjidh Produktin ...........</span>
            </a>
          </div>
          <div>
            <a href="Zgjidh-page21.html">
              <span class="text_gray_countnum">2</span>
              <span class="text_gray_count"
                >Zgjidh Nenproduktin ...........</span
              >
            </a>
          </div>
          <div>
            <a href="Zgjidh-page22.html">
              <span class="text_blue_countnum">3</span>
              <span class="text_blue_count">Fillo Procesin</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/popper.min.js"></script>
  </body>
		<div th:replace="/commons/template.html :: js-scripts"></div>
	</body>
</html>