<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	
	<head th:fragment="headerfiles">
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title th:text="#{messages.application.name}"></title>
		
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/fa-all.css}" rel="stylesheet">
		<link th:href="@{/css/app.css}" rel="stylesheet">
		<link th:href="@{/css/app-2.css}" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
		
		<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/chart.js}"></script>
		<script type="text/javascript" th:src="@{/js/simple-image.js}"></script>
	</head>
	<body>
		<div th:fragment="menu" sec:authorize="isAuthenticated()">
		    <div class="sidenav">
		    	<img src="/images/white_artboard.png" class="sidebar-logo"/><br/>
				
				<a href="/areas" sec:authorize="hasAnyAuthority('VIEW_AREAS_PRIVILEGE', 'UPSERT_AREAS_PRIVILEGE', 'DELETE_AREAS_PRIVILEGE')" th:class="${#httpServletRequest.requestURI.contains('/areas') ? 'active' : ''}">
					<i class="fas fa-door-open sidenav-icons"></i> <span class="sidenav-text" th:text="#{messages.areas}"></span>
				</a>
				
			  	<a href="/employees" sec:authorize="hasAnyAuthority('VIEW_EMPLOYEES_PRIVILEGE', 'UPSERT_EMPLOYEES_PRIVILEGE', 'DELETE_EMPLOYEES_PRIVILEGE', 'UPLOAD_EMPLOYEES_PRIVILEGE')" th:class="${#httpServletRequest.requestURI.contains('/employees') ? 'active' : ''}">
			  		<i class="fas fa-suitcase sidenav-icons"></i> <span class="sidenav-text" th:text="#{messages.employees}"></span>
			  	</a>
			  	
			  	<a href="/daily-activities" sec:authorize="hasAnyAuthority('VIEW_DAILY_ACTIVITIES_PRIVILEGE')" th:class="${#httpServletRequest.requestURI.contains('/daily-activities') ? 'active' : ''}">
			  		<i class="fas fa-calendar-day sidenav-icons"></i> <span class="sidenav-text" th:text="#{messages.daily.activities}"></span>
			  	</a>
			  	
			  	<a href="/statistics" sec:authorize="hasAnyAuthority('VIEW_GENERAL_STATISTICS_PRIVILEGE')" th:class="${#httpServletRequest.requestURI.contains('/statistics') ? 'active' : ''}">
			  		<i class="fas fa-chart-line sidenav-icons"></i> <span class="sidenav-text" th:text="#{messages.statistics}"></span>
			  	</a>
			  	
			  	<a href="/products" sec:authorize="hasAnyAuthority('VIEW_PRODUCTS_PRIVILEGE', 'UPSERT_PRODUCTS_PRIVILEGE', 'DELETE_PRODUCTS_PRIVILEGE')" th:class="${#httpServletRequest.requestURI.contains('/products') ? 'active' : ''}">
			  		<i class="fas fa-shopping-bag sidenav-icons"></i> <span class="sidenav-text" th:text="#{messages.products}"></span>
			  	</a>
			  	
			  	<a href="/finances" sec:authorize="hasAnyAuthority('VIEW_FINANCIAL_ACTIVITIES_PRIVILEGE')" th:class="${#httpServletRequest.requestURI.contains('/finances') ? 'active' : ''}">
			  		<i class="fas fa-calculator sidenav-icons"></i> <span class="sidenav-text" th:text="#{messages.finance}"></span>
			  	</a>
			  	
			  	<a href="/processes" sec:authorize="hasAnyAuthority('VIEW_PROCESSES_PRIVILEGE', 'MANAGE_PROCESSES_PRIVILEGE')" th:class="${#httpServletRequest.requestURI.contains('/processes') ? 'active' : ''}">
			  		<i class="fas fa-network-wired sidenav-icons"></i> <span class="sidenav-text" th:text="#{messages.processes}"></span>
			  	</a>
			  	
			  	<a href="/control" sec:authorize="hasAnyAuthority('MANAGE_CONTROL_PRIVILEGE')" th:class="${#httpServletRequest.requestURI.contains('/control') ? 'active' : ''}">
			  		<i class="fas fa-play-circle sidenav-icons"></i> <span class="sidenav-text" th:text="#{messages.control}"></span>
			  	</a>
			  	
			  	<hr class="hr-style">

			  	<a th:href="@{${#authorization.expression('hasAnyAuthority(''VIEW_PROFILE_PRIVILEGE'',''UPDATE_PROFILE_PRIVILEGE'')') ? '/profile' : (#authorization.expression('hasAnyAuthority(''VIEW_USERS_PRIVILEGE'',''UPSERT_USERS_PRIVILEGE'',''PASSWORDS_USERS_PRIVILEGE'',''DELETE_USERS_PRIVILEGE'')') ? '/users' : '/roles')}}" sec:authorize="hasAnyAuthority('VIEW_ROLES_PRIVILEGE', 'UPSERT_ROLES_PRIVILEGE', 'DELETE_ROLES_PRIVILEGE', 'VIEW_USERS_PRIVILEGE', 'UPSERT_USERS_PRIVILEGE', 'PASSWORDS_USERS_PRIVILEGE', 'DELETE_USERS_PRIVILEGE', 'VIEW_PROFILE_PRIVILEGE', 'UPDATE_PROFILE_PRIVILEGE')" th:class="${#httpServletRequest.requestURI.contains('/profile') || #httpServletRequest.requestURI.contains('/users') || #httpServletRequest.requestURI.contains('/roles') ? 'active' : ''}">
			  		<i class="fas fa-cogs sidenav-icons"></i> <span class="sidenav-text" th:text="#{messages.settings}"></span>
			  	</a>
			  	
			  	<form method="POST" th:action="@{/logout}">
			  		<a href="#" onclick="$(this).closest('form').submit();">
			  			<i class="fas fa-sign-out-alt sidenav-icons"></i> <span class="sidenav-text" th:text="#{messages.logout}"></span>
			  		</a>
				</form>
			</div>
		</div>
		
		<div th:fragment="js-scripts">
			<script type="text/javascript" th:src="@{/js/app.js}"></script>
		</div>
	</body>
</html>