<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org">
	<head th:replace="commons/template.html :: headerfiles"></head>
	
	<body>
	 	<div th:replace="commons/template.html :: menu"></div>
	 
	 	<div  class="main-container">
			<h1 th:text="#{messages.employees}" class="page-title"></h1>
			
			<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
			
			<div class="filter-row" style="justify-content: space-between;">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createEmployeeModal" th:text="#{messages.employee.create}" sec:authorize="hasAuthority('UPSERT_EMPLOYEES_PRIVILEGE')"></button>
				
				<div sec:authorize="hasAuthority('UPLOAD_EMPLOYEES_PRIVILEGE')">
					<form method="POST" th:action="@{/employees/upload(page=${employees.number + 1})}" enctype="multipart/form-data">
						<input name="file" type="file" multiple="false" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" id="finput" required/>
					
						<button type="submit" class="btn btn-primary" th:text="#{messages.employee.upload}"></button>
					</form>
				</div>
			</div>
			
			<div class="table-container">
				<div th:if="${employees.content.size() > 0}" th:each="employee, iter : ${employees.content}" th:class="${iter.index == iter.size - 1 ? 'table-container-rows' : 'table-container-rows bottom-border'}">
					
					<div class="col">
						<span class="row-table-textnew" th:text="#{messages.name}"></span>
						<span class="row-table-value" th:text="${employee.firstName + ' ' + employee.lastName}"></span>
					</div>
					 <div class="col" >	
					 <span class="row-table-textnew"></span>
						<span class="row-table-textnew" th:text="#{messages.personal.number}"></span>
						<span class="row-table-value" th:text="${employee.personalNumber}"></span>
					</div>
					<div class="col">
						<span class="row-table-textnew" th:text="#{messages.status}"></span>
						<span class="row-table-value" th:text="${employee.enabled} ? #{messages.active} : #{messages.not.active}" th:style="${employee.enabled} ? 'color: #1f9583;' : 'color: #f1818c;'"></span>
					</div>
					<div class="col">
						<span class="row-table-textnew" th:text="#{messages.areas}"></span>
						<span class="row-table-value" th:text="${employee.vacancy.area.name}" th:if="${employee.vacancy != null}"></span>
						<span class="row-table-value" th:if="${employee.vacancy == null}">-</span>
					</div>
					<div class="col">
						<span class="row-table-textnew" th:text="#{messages.vacancy}"></span>
						<span class="row-table-value" th:text="${employee.vacancy.number}" th:if="${employee.vacancy != null}"></span>
						<span class="row-table-value" th:if="${employee.vacancy == null}">-</span>
					</div>
					
					<div class="col" style="display:inline;">
						<form th:id="'detachEmployeeForm' + ${employee.id}" method="POST" th:action="@{'/employees/detach/{id}'(id=${employee.id}, page=${employees.number + 1})}" sec:authorize="hasAuthority('UPSERT_EMPLOYEES_PRIVILEGE')" style="display: initial;">
							<a href="#" data-toggle="modal" data-target="#detachEmployeeModal" style="padding-right: 20px;" th:onclick="'setDetachEmployeeId(' + ${employee.id} + ')'" th:if="${employee.vacancy != null}">
								<i class="fas fa-unlink row-table-icons" data-toggle="tooltip" data-placement="top" th:title="#{messages.detach}"></i>
							</a>
							
							<i class="fas fa-unlink row-table-icons not-allowed-cursor disabled-icon" style="padding-right: 20px;" th:if="${employee.vacancy == null}"></i>
						</form>
						
						<a th:id="'editEmployeeHref' + ${employee.id}" th:href="@{'/employees/{id}'(id=${employee.id})}" sec:authorize="hasAuthority('UPSERT_EMPLOYEES_PRIVILEGE')" style="padding-right: 20px;" th:onclick="'loadEmployee(event, ' + ${employee.id} + ')'">
							<i class="fas fa-pen-alt row-table-icons" data-toggle="tooltip" data-placement="top" th:title="#{messages.update}"></i>
						</a>
						
						<form th:id="'deleteEmployeeForm' + ${employee.id}"  style="display:inline;" method="POST" th:action="@{'/employees/delete/{id}'(id=${employee.id}, page=${employees.number + 1})}" sec:authorize="hasAuthority('DELETE_EMPLOYEES_PRIVILEGE')">
						  	<button data-toggle="modal" data-target="#deleteEmployeeModal" class="delete-button" type="button" th:value="#{messages.employee.delete}" th:onclick="'setDeleteEmployeeId(' + ${employee.id} + ')'" >
						  		<i class="fas fa-times row-table-icons" data-toggle="tooltip" data-placement="top" th:title="#{messages.delete}"></i> 
						  	</button>
						</form>
						
					</div>
				</div>
				
				<div th:if="${employees.content.size() == 0}">
					<p th:text="#{messages.no.employees}"></p>
				</div>
			</div>
	
			<div th:if="${employees.totalPages > 1 && employees.content.size() > 0}">
				<ul class="pagination">
					<li th:class="${employees.number == 0 ? 'page-item disabled not-allowed-cursor' : 'page-item'}">
						<a class="page-link" th:href="@{/employees(page=${employees.number})}">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li th:if="${employees.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
					    <a th:href="@{/employees(page=${pageNumber})}" th:text=${pageNumber} 
					    	th:class="${pageNumber == employees.number + 1} ? 'page-link active' : 'page-link'"></a>
					</li>
					<li th:class="${(employees.number + 1) == employees.totalPages ? 'page-item disabled not-allowed-cursor' : 'page-item'}">
						<a class="page-link" th:href="@{/employees(page=${employees.number + 2})}">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div th:replace="private/employees/createemployee.html :: createemployee" sec:authorize="hasAuthority('UPSERT_EMPLOYEES_PRIVILEGE')"></div>
		<div th:replace="private/employees/editemployee.html :: editemployee" sec:authorize="hasAuthority('UPSERT_EMPLOYEES_PRIVILEGE')"></div>
		<div th:replace="private/employees/detachemployee.html :: detachemployee" sec:authorize="hasAuthority('UPSERT_EMPLOYEES_PRIVILEGE')"></div>
		<div th:replace="private/employees/deleteemployee.html :: deleteemployee" sec:authorize="hasAuthority('DELETE_EMPLOYEES_PRIVILEGE')"></div>
		
		<div th:replace="commons/template.html :: js-scripts"></div>
	</body>
</html>