<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="/commons/template.html :: headerfiles"></head>
	<body>
	
		<div th:replace="/commons/template.html :: menu"></div>
	 <section>
      <div class="container error_page_main">
        <div class="error_page">
          <img src="images/404.PNG" />
          <p th:text="#{messages.error.unknown}"></p>
          <a href="/" th:text="#{messages.home}"></a>
        </div>
      </div>
    </section>
		<div th:replace="/commons/template.html :: js-scripts"></div>
	</body>
</html>