<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="commons/template.html :: headerfiles">
    	<title>Login</title>
    	
 	</head>
 	
	<body style="background-color: #1f9584">
	<div th:if="${error}">Unable to login. Check your username and password.</div>
    <section class="login-form-new" style="width: 1038px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 3rem 0px;">
      <div class="row" style="padding: 0px; width: 100%">
        <div class="col-md-6 logind1 dnon" style="padding: 0px">
          <img src="/images/sideform.PNG" style="width: 100%; height: 100%" />
        </div>
        <div class="col-md-6 logind2" style="padding: 9rem 6rem;">
          <div>
            <h2>Pershendetje!</h2>
            <p>Ju lutem plotësoni e-mail-in tuaj dhe fjalëkalimin</p>
            <div class="loginformd" style="padding: 4rem 0px 0px;">
              <form method="POST" th:action="@{/login}" id="loginForm">
                <div class="form-input mb-40">
                  <div class="form-input-box">
                    <input
                      type="text"
                      name="username"
                      autocomplete="off"
                      id="username"
                      required
                    />
                    <label class="label-name" for="username"  th:text="#{messages.username} + ': '">
                    </label>
                  </div>
                </div>
                <div class="form-input mb-40">
                  <div class="form-input-box">
                    <input
                      type="password"
                      name="password"
                      id="password"
                      autocomplete="off"
                     required
                    />
                    <label class="label-name" for="password" th:text="#{messages.password} + ': '">
                    </label>
                  </div>
                </div>
                <input type="submit" value="Kycu" class="btn-sub" />
                <a href="">keni harruar fjalëkalimin?</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    
	<div th:replace="commons/template.html :: js-scripts"></div>
  </body>

</html>