<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="/commons/template.html :: headerfiles"></head>
	
	<body>
		<div th:replace="/commons/template.html :: menu"></div>
		
		<div class="main-container">
			<h1 th:text="#{messages.user.create}"></h1>
			
			<form method="POST" th:action="@{'/users/password/{id}'(id=${changePasswordDTO.id})}" th:object="${changePasswordDTO}">
				
				<div th:if="${#fields.hasErrors()}">
					<span class="validationError" th:text="#{messages.correct.problems}"></span>
				</div>
				
				<input type="hidden" name="id" th:field="*{id}"/>
				
				<label for="password" th:text="#{messages.password}"></label>
				<input type="password" name="password" th:field="*{password}"/>
				<span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				<br />
				
				<label for="confirm" th:text="#{messages.password.confirm}"></label>
				<input type="password" name="confirm" th:field="*{confirmPassword}"/>
				<span class="validationError" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
				<br />
				
				<input type="submit" th:value="#{messages.save}" />
			</form>
		</div>
		
		<div th:replace="/commons/template.html :: js-scripts"></div>
	</body>
</html>