<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

	<div th:fragment="edituser">
		<form method="POST" th:action="@{'/users/update'(page=${users.number + 1})}" th:object="${userDTO}">
			<input type="hidden" id="edit-user-id" name="id" th:field="*{id}"/>
			
			<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModal" aria-hidden="true">
				<div class="modal-dialog" role="document" style="max-width: 600px;">
					<div class="modal-content" style="border-radius: 8px;">
						<div class="custom-modal-header" style="display: unset;">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        						<span aria-hidden="true">&times;</span>
      						</button>
      						
      						<br/>
      						
							<h5 class="modal-title" th:text="#{messages.user.edit}" style="width: 100%; font-size: 28px; text-align: left; padding-left: 20px;"></h5>
    					</div>
    					
						<div class="modal-body" style="padding-top: 0;">
							<div class="row" style="margin-bottom: 0px; padding-bottom: 0px; text-align: center; display: block; padding-top: 0;">
								
							</div>
							
							<div class="row" style="margin-bottom: 0px; padding-bottom: 0px;">
								<div class="col">
									<div>
										<label class="modal-text-labels" for="firstName" th:text="#{messages.name} + ' *'"></label>
									</div>
									<input class="text-input" type="text" name="firstName" id="edit-user-firstname" th:field="*{firstName}" required/>
									<br/>
									<span class="validationError" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
								</div>
								
								<div class="col">
									<div>
										<label class="modal-text-labels" for="lastName" th:text="#{messages.lastname} + ' *'"></label>
									</div>
									<input class="text-input" type="text" name="lastName" id="edit-user-lastname" th:field="*{lastName}" required/>
									<br/>
									<span class="validationError" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
								</div>
							</div>
							
							<div class="row" style="margin-bottom: 0px; padding-bottom: 0px;">
								<div class="col">
									<div>
										<label class="modal-text-labels" for="username" th:text="#{messages.username} + ' *'"></label>
									</div>
									<input class="text-input" type="text" name="username" id="edit-user-username" th:field="*{username}" required/>
									<br/>
									<span class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
								</div>
								
								<div class="col">
									<div>
										<label class="modal-text-labels" for="phoneNumber" th:text="#{messages.phonenumber} + ' *'"></label>
									</div>
									<input class="text-input" type="text" name="phoneNumber" id="edit-user-phonenumber" th:field="*{phoneNumber}" required/>
									<br/>
									<span class="validationError" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
								</div>
							</div>
							
							<div class="row" style="margin-bottom: 0px; padding-bottom: 0px;">	
								<div class="col">
								<div>
									<label class="modal-text-labels" for="role" th:text="#{messages.role}" th:if="${roles.size() > 0}"></label>
								</div>
									<select id="edit-user-role" class="text-input" name="vacancy" th:field="*{roleId}" th:if="${roles.size() > 0}">
										<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"/>
									</select>
									
								</div>
								<p th:if="${roles.size() == 0}" th:text="#{messages.no.roles}"></p>
							</div>
							
							<div class="row" th:if="${roles.size() > 0}">
								<button type="submit" th:text="#{messages.save}" class="btn btn-primary"></button>				
							</div>
							
							<div class="row" th:if="${roles.size() == 0}">
								<span th:text="#{messages.insert.roles.first}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div th:if="${#fields.hasErrors()}">
				<script type="text/javascript">
					$('#editUserModal').modal('show');
				</script>
			</div>
		</form>
	</div>
</html>