<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org">
	<head th:replace="/commons/template.html :: headerfiles"></head>
	<body>
		<div th:replace="/commons/template.html :: menu"></div>
		
		<div class="main-container">
			<h1 th:text="#{messages.settings}" class="page-title"></h1>
			
			<div class="row-container">
				<div th:replace="/commons/settingsmenu.html :: settingsmenu"></div>
				
				<div class="table-container col-lg-8 offset-lg-1">
					<h1 th:text="#{messages.users}" class="smaller-page-title"></h1>
					
					<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
					
					<a th:href="@{/users/create}" th:text="#{messages.user.create}" sec:authorize="hasAuthority('UPSERT_USERS_PRIVILEGE')"></a>
					
					<div th:if="${users.size() > 0}" th:each="user : ${users}">
						<span th:text="${user.username}"></span><br/>
						<a th:href="@{'/users/edit/{id}'(id=${user.id})}" th:text="#{messages.user.edit}" sec:authorize="hasAuthority('UPSERT_USERS_PRIVILEGE')"></a>
						<a th:href="@{'/users/password/{id}'(id=${user.id})}" th:text="#{messages.change.password}" sec:authorize="hasAuthority('PASSWORDS_USERS_PRIVILEGE')"></a>
						
						<form method="POST" th:action="@{'/users/delete/{id}'(id=${user.id})}" sec:authorize="hasAuthority('DELETE_USERS_PRIVILEGE')">
							<input type="submit" th:value="#{messages.user.delete}"/>
						</form>
					</div>
					
					<div th:if="${users.size() == 0}">
						<p th:text="#{messages.no.users}"></p>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="/commons/template.html :: js-scripts"></div>
	</body>
</html>