<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

	<div th:fragment="changepassword">
		<form method="POST" th:action="@{'/users/update/password'(page=${users.number + 1})}" th:object="${changePasswordDTO}">
			<input type="hidden" id="password-user-id" name="id" th:field="*{id}"/>
			
			<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal" aria-hidden="true">
				<div class="modal-dialog" role="document" style="max-width: 600px;">
					<div class="modal-content" style="border-radius: 8px;">
						<div class="custom-modal-header" style="display: unset;">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        						<span aria-hidden="true">&times;</span>
      						</button>
      						
      						<br/>
      						
							<h5 class="modal-title" th:text="#{messages.change.password}" style="width: 100%; font-size: 28px; text-align: left; padding-left: 20px;"></h5>
    					</div>
    					
						<div class="modal-body" style="padding-top: 0;">
							<div class="row" style="margin-bottom: 0px; padding-bottom: 0px; text-align: center; display: block; padding-top: 0;">
								
							</div>
							
							<div class="row" style="margin-bottom: 0px; padding-bottom: 0px;">
								<div class="col">
									<div>
										<label class="modal-text-labels" for="password" th:text="#{messages.password} + ' *'"></label>
									</div>
									<input class="text-input" type="password" name="password" th:field="*{password}" required/>
									<br/>
									<span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
								</div>
								<div class="col">
									<div>
										<label class="modal-text-labels" for="confirmPassword" th:text="#{messages.password.confirm} + ' *'"></label>
									</div>
									<input class="text-input" type="password" name="confirmPassword" th:field="*{confirmPassword}" required/>
									<br/>
									<span class="validationError" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
								</div>
							</div>
							
							<div class="row">
								<button type="submit" class="btn btn-primary" th:text="#{messages.save}"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div th:if="${#fields.hasErrors()}">
				<script type="text/javascript">
					$('#changePasswordModal').modal('show');
				</script>
			</div>
		</form>
	</div>
</html>