<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="/commons/template.html :: headerfiles"></head>

		<div th:replace="/commons/template.html :: menu"></div>
		
		<div class="main-container">
			
			<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
			
  <body>
    <section class="top_section">
      <div class="tsec_div1">
			<h1 th:text="#{messages.settings}" class="page-title"></h1>
      </div>
      <div class="tsec_div2">
        <span>
          <form class="navbar-form" role="search">
            <div class="input-group add-on">
              <input
                class="form-control"
                placeholder=""
                name="srch-term"
                id="srch-term"
                type="text"
              />
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <img src="img/magnifying-glass.svg" />
                </button>
              </div>
            </div>
          </form>
        </span>
        <span><img src="img/statisp1.png" /></span>
      </div>
    </section>

    <section class="setting_body-15">
     <div th:replace="/commons/settingsmenu.html :: settingsmenu"></div>
      <div class="st_card">
        <div class="st_card_body">
          <h2>Te dhenat personale</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="st_card_body_typo">
                <h6>Emri</h6>
                <p><input type="text" value="Filan" /></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="st_card_body_typo">
                <h6>Mbiemri</h6>
                <p><input type="text" value="Fisteku" /></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="st_card_body_typo">
                <h6>Adresa</h6>
                <p><input type="text" value="Rruga Furtuzi 1234, Tirane" /></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="st_card_body_typo">
                <h6>Numri I Kontaktit</h6>
                <p><input type="text" value="FHu492jllm" /></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="st_card_body_typo">
                <h6>NIPT</h6>
                <p><input type="text" value="FJ1231234JGF" /></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="st_card_body_typo">
                <h6>Numri i Llogarise Bankare</h6>
                <p><input type="text" value="AE5448R18862FD" /></p>
              </div>
            </div>
          </div>
        </div>
        <div class="st_card_body">
          <h2>Te dhenat personale</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="set_img">
                <img src="img/settingp1.png" />
              </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <div class="st_card_body_typo">
                <h6>Adresa E-mail</h6>
                <p><input type="text" value="*****************" /></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="st_card_body_typo">
                <h6>Ndrysho E-mail</h6>
                <p><input type="text" value="*****************" /></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="st_card_body_typo">
                <h6>Passwordi</h6>
                <p><input type="text" value="*****************" /></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="st_card_body_typo">
                <h6>Ndrysho Passwordin</h6>
                <p><input type="text" value="*****************" /></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="st_card_body_typo">
                <h6>Passwordi</h6>
                <p><input type="text" value="*****************" /></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="st_card_body_typo">
                <h6>Ndrysho Passwordin</h6>
                <p><input type="text" value="*****************" /></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	</body>
			</div>
		
		<div th:replace="/commons/template.html :: js-scripts"></div>
</html>