<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="commons/template.html :: headerfiles"></head>
	<body>
		<div th:replace="commons/template.html :: menu"></div>
		
		<div class="main-container">
			<h1 th:text="#{messages.statistics}" class="page-title"></h1>
			
			<br/>
			
		    <!-- <section class="top_section">
		      <div class="tsec_div1">
		        <h2>Statistika</h2>
		      </div>
		      <div class="tsec_div2">
		        <span>
		          <form class="navbar-form" role="search">
		            <div class="input-group add-on">
		              <input
		                class="form-control"
		                placeholder=""
		                name="srch-term"
		                id="srch-term"
		                type="text"
		              />
		              <div class="input-group-btn">
		                <button class="btn btn-default" type="submit">
		                  <img src="images/magnifying-glass.svg" />
		                </button>
		              </div>
		            </div>
		          </form>
		        </span>
		        <span><img src="images/statisp1.png" /></span>
		      </div>
		    </section> -->

		    <section class="stitka_dash_body">
		      <div class="row" style="padding: 0px; background-color: transparent">
		        <div class="col-md-4" style="padding-left: 0px;">
		          <div class="card_statis">
		            <div class="card_statis_head">
		              <div class="card_statis_txt">
		                <span>Overview Target</span>
		              </div>
		              <div class="card_statis_circles">
		                <span></span>
		                <span></span>
		                <span></span>
		              </div>
		            </div>
		            <div class="card_statis_body">
		              <div>
		                <img src="images/card1.PNG" />
		                <span class="cardnum1">2.45</span>
		                <small>TON</small><span class="cardnum2">/ 6.00 TON</span>
		              </div>
		            </div>
		            <div class="bar_container">
		              <div class="progress">
		                <div class="bar"></div>
		              </div>
		            </div>
		          </div>
		        </div>
		        <div class="col-md-4">
		          <div class="card_statis">
		            <div class="card_statis_head">
		              <div class="card_statis_txt">
		                <span>Procese te mbaruara</span>
		              </div>
		              <div class="card_statis_circles">
		                <span></span>
		                <span></span>
		                <span></span>
		              </div>
		            </div>
		            <div class="card_statis_body">
		              <div class="card2_bd">
		                <span class="">2568</span>
		                <small>+25%</small>
		              </div>
		              <div class="card2_img">
		                <img src="images/star.PNG" />
		              </div>
		            </div>
		            <p>Procese te suksesshme kete muaj</p>
		          </div>
		        </div>
		        <div class="col-md-4">
		          <div class="card_statis">
		            <div class="card_statis_head">
		              <div class="card_statis_txt">
		                <span>Procese fitimprurese</span>
		              </div>
		              <div class="card_statis_circles">
		                <span></span>
		                <span></span>
		                <span></span>
		              </div>
		            </div>
		            <div class="card_statis_body">
		              <div class="card2_bd">
		                <span class="">2568</span>
		                <small>+8.57%</small>
		              </div>
		              <div class="card2_img">
		                <img src="images/plus.PNG" />
		              </div>
		            </div>
		            <p>Procese te suksesshme kete muaj</p>
		          </div>
		        </div>
		      </div>
		      <div class="row mt20" style="padding: 0px; background-color: transparent">
		        <div class="col-md-7" style="padding-left: 0px;">
		          <div class="line_graph">
		            <div class="line_graph_head">
		              <p>Bilanci Mujor</p>
		              <a href="">shkarko grafikun</a>
		            </div>
		            <div class="chart-container" style="width: 100%">
		              <canvas
		                id="myChart"
		                style="width: 100%; height: 200px !important"
		              ></canvas>
		            </div>
		          </div>
		          <div class="bottomtable_sta_db mt20">
		            <div class="line_graph_head">
		              <p style="color: #000">Aktiviteti Mujor</p>
		              <a href="">shkarko grafikun</a>
		            </div>
		            <div class="custtable_sdb">
		              <div class="custtable_sdb_row">
		                <img src="images/star.PNG" />
		                <div class="ct_sdb_rcol w140">
		                  <small>Dhoma</small>
		                  <span>Nr. 1</span>
		                </div>
		                <div class="ct_sdb_rcol w260">
		                  <small>Produkti</small>
		                  <span>Arra te mbushura</span>
		                </div>
		                <div class="ct_sdb_rcol w150">
		                  <small>Filloi</small>
		                  <span>12:39</span>
		                </div>
		                <div class="ct_sdb_rcol w200">
		                  <small>Perfundoi</small>
		                  <span>16:58</span>
		                </div>
		                <div class="ct_sdb_rcol w180">
		                  <small>Statusi</small>
		                  <span style="color: #1f9584 !important">Aktiv</span>
		                </div>
		              </div>
		              <div class="custtable_sdb_row">
		                <img src="images/star.PNG" />
		                <div class="ct_sdb_rcol w140">
		                  <small>Dhoma</small>
		                  <span>Nr. 1</span>
		                </div>
		                <div class="ct_sdb_rcol w260">
		                  <small>Produkti</small>
		                  <span>Arra te mbushura</span>
		                </div>
		                <div class="ct_sdb_rcol w150">
		                  <small>Filloi</small>
		                  <span>12:39</span>
		                </div>
		                <div class="ct_sdb_rcol w200">
		                  <small>Perfundoi</small>
		                  <span>16:58</span>
		                </div>
		                <div class="ct_sdb_rcol w180">
		                  <small>Statusi</small>
		                  <span style="color: #1f9584 !important">Aktiv</span>
		                </div>
		              </div>
		              <div class="custtable_sdb_row">
		                <img src="images/star.PNG" />
		                <div class="ct_sdb_rcol w140">
		                  <small>Dhoma</small>
		                  <span>Nr. 1</span>
		                </div>
		                <div class="ct_sdb_rcol w260">
		                  <small>Produkti</small>
		                  <span>Arra te mbushura</span>
		                </div>
		                <div class="ct_sdb_rcol w150">
		                  <small>Filloi</small>
		                  <span>12:39</span>
		                </div>
		                <div class="ct_sdb_rcol w200">
		                  <small>Perfundoi</small>
		                  <span>16:58</span>
		                </div>
		                <div class="ct_sdb_rcol w180">
		                  <small>Statusi</small>
		                  <span style="color: #1f9584 !important">Aktiv</span>
		                </div>
		              </div>
		              <div class="custtable_sdb_row">
		                <img src="images/star.PNG" />
		                <div class="ct_sdb_rcol w140">
		                  <small>Dhoma</small>
		                  <span>Nr. 1</span>
		                </div>
		                <div class="ct_sdb_rcol w260">
		                  <small>Produkti</small>
		                  <span>Arra te mbushura</span>
		                </div>
		                <div class="ct_sdb_rcol w150">
		                  <small>Filloi</small>
		                  <span>12:39</span>
		                </div>
		                <div class="ct_sdb_rcol w200">
		                  <small>Perfundoi</small>
		                  <span>16:58</span>
		                </div>
		                <div class="ct_sdb_rcol w180">
		                  <small>Statusi</small>
		                  <span style="color: #1f9584 !important">Aktiv</span>
		                </div>
		              </div>
		              <div class="custtable_sdb_row">
		                <img src="images/star.PNG" />
		                <div class="ct_sdb_rcol w140">
		                  <small>Dhoma</small>
		                  <span>Nr. 1</span>
		                </div>
		                <div class="ct_sdb_rcol w260">
		                  <small>Produkti</small>
		                  <span>Arra te mbushura</span>
		                </div>
		                <div class="ct_sdb_rcol w150">
		                  <small>Filloi</small>
		                  <span>12:39</span>
		                </div>
		                <div class="ct_sdb_rcol w200">
		                  <small>Perfundoi</small>
		                  <span>16:58</span>
		                </div>
		                <div class="ct_sdb_rcol w180">
		                  <small>Statusi</small>
		                  <span style="color: #1f9584 !important">Aktiv</span>
		                </div>
		              </div>
		              <div class="custtable_sdb_row">
		                <img src="images/star.PNG" />
		                <div class="ct_sdb_rcol w140">
		                  <small>Dhoma</small>
		                  <span>Nr. 1</span>
		                </div>
		                <div class="ct_sdb_rcol w260">
		                  <small>Produkti</small>
		                  <span>Arra te mbushura</span>
		                </div>
		                <div class="ct_sdb_rcol w150">
		                  <small>Filloi</small>
		                  <span>12:39</span>
		                </div>
		                <div class="ct_sdb_rcol w200">
		                  <small>Perfundoi</small>
		                  <span>16:58</span>
		                </div>
		                <div class="ct_sdb_rcol w180">
		                  <small>Statusi</small>
		                  <span style="color: #1f9584 !important">Aktiv</span>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		        <div class="col-md-5">
		          <div class="char_donut">
		            <div class="line_graph_head">
		              <p style="color: #000">Overview Target</p>
		              <a href="">shkarko grafikun</a>
		            </div>
		            <div class="chart-container donut_cont" style="width: 100%">
		              <canvas
		                id="donutchart"
		                style="width: 100%; height: 400px !important"
		              ></canvas>
		              <div class="donut_text">
		                <h1>87.5%</h1>
		                <p>Procese te suksesshme</p>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </section>
		</div>

    	<div th:replace="commons/template.html :: js-scripts"></div>
	    <script>
	      var ctx1 = document.getElementById("myChart").getContext("2d");
	      var myChart = new Chart(ctx1, {
	        type: "bar",
	        data: {
	          label: "# of Votes",
	          labels: ["", "", "", "", "", "", "", "", "", "", "", ""],
	          datasets: [
	            {
	              barPercentage: 1,
	              barThickness: 20,
	              maxBarThickness: 40,
	              minBarLength: 2,
	              data: [10, 12, 14, 12, 14, 15, 10, 12, 14, 12, 14, 15],
	              backgroundColor: [
	                "#F4F7FE",
	                "#759FFD",
	                "#F4F7FE",
	                "#759FFD",
	                "#F4F7FE",
	                "#759FFD",
	                "#F4F7FE",
	                "#759FFD",
	                "#F4F7FE",
	                "#759FFD",
	                "#F4F7FE",
	                "#759FFD",
	              ],
	            },
	          ],
	        },
	        options: {
	          legend: {
	            display: false,
	          },
	          tooltips: {
	            callbacks: {
	              label: function (tooltipItem) {
	                console.log(tooltipItem);
	                return tooltipItem.yLabel;
	              },
	            },
	          },
	          scales: {
	            xAxes: [
	              {
	                ticks: {
	                  display: false,
	                },
	              },
	            ],
	            yAxes: [
	              {
	                ticks: {
	                  beginAtZero: true,
	                  display: false,
	                },
	              },
	            ],
	          },
	        },
	      });
	    </script>
	    <script>
	      var myChart = new Chart(document.getElementById("donutchart"), {
	        type: "doughnut",
	        data: {
	          labels: ["", "", ""],
	          datasets: [
	            {
	              data: [85, 15, 5],
	              backgroundColor: ["#1F9584", "#759FFD", "#F4F7FE"],
	              hoverBackgroundColor: ["#1F9584", "#759FFD", "#F4F7FE"],
	              hoverBorderColor: ["#1F9584", "#759FFD", "#F4F7FE"],
	              borderColor: ["#1F9584", "#759FFD", "#F4F7FE"],
	            },
	          ],
	        },
	        options: {
	          responsive: true,
	          legend: {
	            display: true,
	          },
	          cutoutPercentage: 80,
	          tooltips: {
	            filter: function (item, data) {
	              var label = data.labels[item.index];
	              if (label) return item;
	            },
	          },
	        },
	      });
	    </script>
  </body>
</html>
