<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/template.html :: headerfiles">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Login</title>
</head>

<body class="">
	<section class="login-form loginbg">
		<div class="row">
			<div class="col-md-6 logind1 dnon" style="padding: 0px">
				<div class="logind1sb">
					<img src="images/artboard2.png" /> 
					<span>
						[[#{messages.pi}]]
						<br> 
						<a href="#" th:text="#{messages.all.rights.reserved}"></a>
					</span>
				</div>
			</div>
			<div class="col-md-6 logind2">
				<div>
					<h2 th:text="#{messages.hello}"></h2>
					<p th:text="#{messages.authenticate}"></p>
					<div class="loginformd">
						<form method="POST" th:action="@{/login}" id="loginForm">
							<div th:if="${param.error}" th:text="#{messages.login.failed}" class="alert alert-danger"></div>
							
							<div class="form-input mb-40">
								<div class="form-input-box">
									<input type="text" name="username" autocomplete="off"
										id="username" required /> <label
										class="label-name" for="username"> <span
										class="content-name" th:text="#{messages.username} + ': '"></span>
									</label>
								</div>
							</div>
							<div class="form-input mb-40">
								<div class="form-input-box">
									<input type="password" name="password" id="password"
										autocomplete="off" required /> <label
										class="label-name" for="password"> <span
										class="content-name" th:text="#{messages.password} + ': '"></span>
									</label>
								</div>
							</div>
							<input type="submit" th:value="#{messages.login}" class="btn-sub" /> <!-- <a href="" th:text="#{messages.forgot.password}"></a> -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:replace="commons/template.html :: js-scripts"></div>
</body>

</html>