<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

	<div th:fragment="createproduct">
		<form method="POST" th:action="@{/products/create(size=${products.size}, page=${products.number + 1})}" th:object="${product}" enctype="multipart/form-data">
			<div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="createProductModal" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="custom-modal-header" style="display: unset;">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        						<span aria-hidden="true">&times;</span>
      						</button>
      						
      						<br/>
      						
							<h5 class="modal-title" th:text="#{messages.product.create}" style="width: 100%;"></h5>
    					</div>
						<div class="modal-body" style="padding-top: 0;">
							<div class="row">
								<div class="col-lg-12">
									<span class="row-table-text" th:text="#{messages.name} + ' *'"></span>
									<input class="text-input" type="text" name="name" th:field="*{name}" required/>
									<br/>
									<span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
								</div>
								
								<div class="col-lg-12" style="margin-top: 10px;">
									<label for="img" th:text="#{messages.image}"></label>
									<input type="file" name="img" accept="image/png, image/jpeg, image/jpg" />
								</div>
								
								<div class="col-lg-12" style="margin-top: 10px;">
									<span class="row-table-text" th:text="#{messages.has.subproducts}"></span>
									<input type="checkbox" id="subproduct" name="subproduct" th:field="*{withSubProducts}" onchange="changeProductPrice()"/>
								</div>
								
								<div class="col-lg-12" style="margin-top: 10px;">
									<span class="row-table-text" th:text="#{messages.price.per.kg}"></span>
									<input type="number" id="price" class="text-input" name="price" th:field="*{price}" step=".0001" th:disabled="*{withSubProducts}" required/>
									<br />
									<span class="validationError" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
								</div>
							</div>
						</div>
						
						<div class="modal-footer">
							<div class="col">
								<input class="btn btn-primary" type="submit" th:value="#{messages.save}" sec:authorize="hasAuthority('UPSERT_PRODUCTS_PRIVILEGE')"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div th:if="${#fields.hasErrors()}">
				<script type="text/javascript">
					$('#createProductModal').modal('show');
				</script>
			</div>
		</form>
	</div>
</html>