<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org">
	<head th:replace="/commons/template.html :: headerfiles"></head>
	
	<body>
		<div th:replace="/commons/template.html :: menu"></div>
		
		<div class="main-container">
			<h1 th:text="#{messages.products}" class="page-title"></h1>
			
			<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
			
			<div class="filter-row">
				<a th:href="@{/products/create}" th:text="#{messages.product.create}" sec:authorize="hasAuthority('UPSERT_PRODUCTS_PRIVILEGE')" class="btn btn-primary"></a>
			</div>
			
			<br/>
			
			<div class="row-container">
				<div th:if="${products.size() > 0}" th:each="product : ${products}" class="product-containers col-lg-2">
					<div class="row-container">
						<div class="col" style="padding-left: 0px;">
							<span class="product-name" th:text="${product.name}"></span>
						</div>
						
						<div class="col" style="text-align: end; padding-right: 0px;">
							<a th:href="@{'/products/edit/{id}'(id=${product.id})}" sec:authorize="hasAuthority('UPSERT_PRODUCTS_PRIVILEGE')" style="margin-right: 15%;">
								<i class="fas fa-pen row-table-icons" data-toggle="tooltip" data-placement="top" th:title="#{messages.update}"></i>
							</a>
							
							<form method="POST" th:action="@{'/products/delete/{id}'(id=${product.id})}" sec:authorize="hasAuthority('DELETE_PRODUCTS_PRIVILEGE')" style="display: initial;">
								<a href="#" data-toggle="modal">
									<i class="fas fa-times row-table-icons" data-toggle="tooltip" data-placement="top" th:title="#{messages.delete}"></i>
								</a>
							</form>
						</div>
					</div>
					
					<img th:src="${product.base64Image}" class="img-fluid product-img"/>
					<br/><br/>
					
					<div th:if="${!product.withSubProducts}">
						<span class="sub-product-label" th:text="#{messages.price.per.kg}"></span><br/>
						<span class="product-price" th:text="${product.price} + ' ' + #{messages.all.per.kg}"></span><br/>
					</div>
					
					<div th:if="${product.withSubProducts}" class="row-container">
						<div class="col" style="padding-left: 0px;">
							<span class="sub-product-label" th:text="#{messages.subproducts}"></span>
						</div>
						
						<div class="col" style="text-align: end;">
							<a th:href="@{'/products/subproduct/create/{id}'(id=${product.id})}" sec:authorize="hasAuthority('UPSERT_PRODUCTS_PRIVILEGE')">
								<i class="fas fa-plus row-table-icons" data-toggle="tooltip" data-placement="top" th:title="#{messages.subproduct.create}"></i>
							</a>
						</div>
							
						<br/><br/>
						
						<div style="overflow-y: scroll;">
							<div th:if="${product.childrenProducts != null && product.childrenProducts.size() > 0}" th:each="child : ${product.childrenProducts}" class="row-container bottom-border" style="padding-bottom: 12px;">
								<div class="col-8" style="padding-left: 0px;">
									<span class="sub-product-name" th:text="${child.name}"></span>
								</div>
							 
								 <div class="col-4" style="text-align: end; padding-right: 0px;">
									<a th:href="@{'/products/subproduct/edit/{id}'(id=${child.id})}" sec:authorize="hasAuthority('UPSERT_PRODUCTS_PRIVILEGE')" style="margin-right: 15%;">
										<i class="fas fa-pen row-table-icons" data-toggle="tooltip" data-placement="top" th:title="#{messages.update}"></i>
									</a>
									
									<form method="POST" th:action="@{'/products/subproduct/delete/{id}'(id=${child.id})}" sec:authorize="hasAuthority('DELETE_PRODUCTS_PRIVILEGE')" style="display: initial;">
										<a href="#" data-toggle="modal">
											<i class="fas fa-times row-table-icons" data-toggle="tooltip" data-placement="top" th:title="#{messages.delete}"></i>
										</a>
									</form>
								</div>
								
								<div>
									<span class="sub-product-price" th:text="${child.price} + ' ' + #{messages.all.per.kg}"></span>
								</div>
							</div>
						</div>
						
						<div th:if="${product.childrenProducts == null || product.childrenProducts.size() == 0}" style="width: 100%; text-align: center;">
							<p th:text="#{messages.no.subproduct}"></p>
						</div>
					</div>
					
				</div>
				
				<div th:if="${products.size() == 0}">
					<p th:text="#{messages.no.product}"></p>
				</div>
			</div>
		</div>		
		
		<div th:replace="/commons/template.html :: js-scripts"></div>
	</body>
</html>