<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title th:text="#{role.list}"></title>
		
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/app.css}" rel="stylesheet">
	</head>
	<body>
		<h1 th:text="#{role.list}"></h1>
		
		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/app.js}"></script>
	</body>
</html>