body {
}

.top_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 2rem;
}
.tsec_div1 {
}
.tsec_div1 h2 {
  font-size: 36px;
  line-height: 48px;
  color: #272d3b;
  font-weight: bold;
}
.tsec_div2 {
  display: flex;
}
.tsec_div2 span {
}
.tsec_div2 form {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #272d3b33;
  border-radius: 27px;
  opacity: 1;
}
.tsec_div2 form input {
  border: none !important;
  border-radius: 27px !important;
}
.tsec_div2 form button {
  border: none !important;
}
.tsec_div2 form button img {
  width: 18px;
  height: 18px;
}
.tsec_div2 span img {
  width: 50px;
  height: 50px;
}

.add-on .input-group-btn > .btn {
  left: -2px;
  border-radius: 27px !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  opacity: 1;
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #cccccc;
}
.form-control {
  width: 20%;
}
.table_sta {
  margin: 3rem 2rem;
  overflow-x: scroll;
}
.mytable {
  border: none !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #272d3b33;
  border-radius: 8px;
  opacity: 1;
  padding: 15px;
  width: 1450px;
}
.table_sub {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.mytable p {
  padding: 0.35em;
  font-size: 16px !important;
  margin-bottom: 0px !important;
}

.mytable p span {
  background-color: #f4f7fe;
  font-size: 18px;
  margin-left: 10px;
  padding: 0px 4px;
}
@media (min-width: 1450px) {
  .mytable {
    width: 100% !important;
  }
}
@media (max-width: 600px) {
  .top_section {
    margin: 2rem 2rem;
  }
}
.setting_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 2rem;
}
.setting_body-15 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2rem 2rem;
}
.sb_salert {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #272d3b33;
  border-radius: 8px;
  padding: 2rem;
  text-align: left;
  width: 245px;
  height: 175px;
}
.sb_salert h2 {
  letter-spacing: 28px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #272d3b;
  opacity: 1;
  margin-left: 20px;
  font-weight: bold;
}
.sb_salert h3 {
  letter-spacing: 28px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #272d3b;
  opacity: 1;
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
}
.sbalert_s {
  border-left: 7px solid #759ffd;
  background-color: #f4f7fe;
  padding: 15px;
}
.sbalert_s p {
  color: #272d3b;
  font-size: 18px;
  font-weight: 25px;
  margin-bottom: 0px !important;
  font-weight: bold;
}
.sb_table {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #272d3b33;
  border-radius: 8px;
  padding: 2rem;
  width: 80%;
}
.sb_table_heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sb_table_heading h2 {
  color: #1f9584;
  opacity: 1;
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
}
.sb_table_heading a {
  background: #1f9584 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  color: #ffffff !important;
  font-size: 16px;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;
}
.st_card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #272d3b33;
  border-radius: 8px;
  width: 50%;
  margin-left: 30px;
  padding: 3rem 2rem 0px;
}
.st_card_body {
}
.st_card_body h2 {
  color: #1f9584;
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
}

.st_card_body_typo {
  padding: 0px 0px 13px;
  border-bottom: 1px solid #ccc;
  margin: 0px 15px 15px 0px;
}
.st_card_body_typo h6 {
  color: #1f9584;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 0px;
}
.st_card_body_typo p {
  color: #292a2f;
  font-size: 16px;
  line-height: 21px;
  margin-left: 6px;
  margin-bottom: 0px !important;
}
.st_card_body .row {
  margin: 3rem 0;
  padding: 0px;
}
.st_card_body .row .col-md-6 {
  padding: 0px;
}
.set_img {
  padding: 0px 0px 2rem;
}
.set_img img {
  width: 84px;
  height: 72px;
}
.set_table_body {
  margin-top: 2rem;
}
.set_table_body table thead th {
  color: #292a2f;
  opacity: 0.45;
  font-size: 16px;
  border-bottom: 1px solid #dee2e6 !important;
}
.set_table_body table tbody td {
  font-size: 20px;
  vertical-align: middle;
}
.st_td_flex {
  display: flex;
}
.set_table_body table tbody tr {
  border-bottom: 1px solid #ccc !important;
}
.set_table_body table tbody td span {
  padding-left: 25px;
  margin-top: 10px;
}
.set_table_body table tbody td span h2 {
  font-size: 20px;
  margin-bottom: 0px;
}
.color_pri {
  color: #1f9584 !important;
}
.set_table_body table tbody td span p {
  font-size: 18px;
  color: #b7b7b7;
  margin-bottom: 0px;
}
.st_actions {
}
.st_actions img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-left: 20px;
}
@media (max-width: 700px) {
  .sb_salert {
    width: 100%;
  }
  .st_card {
    width: 100%;
    margin-left: 0px !important;
    margin-top: 15px;
  }
}
@media (max-width: 1265px) {
  .sb_table {
    width: 100%;
    margin-top: 20px;
  }
}
