<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

	<div th:fragment="editsubproduct">
		<form method="POST" th:action="@{/products/subproduct/update(size=${products.size}, page=${products.number + 1})}" th:object="${subProductDTO}" enctype="multipart/form-data">
			<input type="hidden" id="edit-subproduct-id" name="edit-subproduct-id" th:field="*{id}"/>
			<input type="hidden" id="edit-subproduct-father" th:field="*{fatherProduct}"/>
			<input type="hidden" id="edit-subproduct-image" th:field="*{image}" name="image"/>
			
			<div class="modal fade" id="editSubProductModal" tabindex="-1" role="dialog" aria-labelledby="editSubProductModal" aria-hidden="true">
				<div class="modal-dialog" role="document" style="max-width:380px;">
					<div class="modal-content">
						<div class="Shto_content">

							<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding-right: 30px;">
        						<span aria-hidden="true">&times;</span>
      						</button>
      						
      						<br/>
      						
							<h2 th:text="#{messages.subproduct.edit}" style="width: 100%;"></h2>


							<div class="row">
								<div class="col-lg-12">
								<div class="form-input">
             						<div class="form-input-box">
              					  		<input
		                  					type="text"
		                  					class="text-input"
		                 					name="name"
		                  					autocomplete="off"
		                  					th:field="*{name}"
		                  					required
		                  					id="edit-subproduct-name"
		                				/>
               					 <label class="label-name" for="name">
                  					<span class="content-name" th:text="#{messages.name} + ' *'" ></span>
               					</label>
             						</div>
           						</div>
									<br/>
									<span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
								</div>
								
								<div class="col-lg-12">
									<img id="edit-subproduct-current-image" class="img-fluid product-img" th:src="*{base64Image}"/>
								</div>
								
								<div class="col-lg-12" style="margin-top: 10px;">
									<div class="upload_img">
             					<h1> <label for="img" th:text="#{messages.image}"></label></h1>
             					 		<div class="flex_up_img" style="padding-bottom: 10px;">
                						<input
	                						name="img"
	                  						type="file"
							                multiple="false"
							                accept="image/png, image/jpeg, image/jpg"
							                id="edit-subproduct-img"
							                onchange="upload()"
               							/>
             					 		</div>
           					 		</div>
								</div>
								
								<div class="col-lg-12">
									<div class="cimi">
              						<h1 th:text="#{messages.price.per.kg}"> </h1>
             							<div class="flex_up_img">
                							<div>
                  						<input type="number" id="edit-subproduct-price" class="text-input" name="edit-product-price" th:field="*{price}" step=".0001" required />
                 					 	<span>/kg</span>
                							</div>
              							</div>
              							<span class="validationError" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
           				 			</div>		
								</div>
					<input class="btn btn-primary" type="submit" th:value="#{messages.save}" sec:authorize="hasAuthority('UPSERT_PRODUCTS_PRIVILEGE')"/>
							</div>
					</div>
					</div>
				</div>
			</div>
			
			<div th:if="${#fields.hasErrors()}">
				<script type="text/javascript">
					$('#editSubProductModal').modal('show');
				</script>
			</div>
		</form>
	</div>
</html>