<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="/commons/template.html :: headerfiles"></head>
	<body>
		<div th:replace="/commons/template.html :: menu" ></div>
		
		<div class="main-container" id="createEmployee" >
			<h1 class="modal-title" th:text="#{messages.employee.create}"></h1>
			
			<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
			
			<form method="POST" th:action="@{/employees/create}" th:object="${employee}">
				<div th:if="${#fields.hasErrors()}">
					<span class="validationError" th:text="#{messages.correct.problems}"></span>
				</div>
	<div class="modal-content">
		<div class="row">
			<div class="col">
				<div>
					<label class="modal-text-labels" for="firstName" th:text="#{messages.name}"></label>
				</div>
					<input class="text-input" type="text" name="firstName" th:field="*{firstName}"/>
					<span class="validationError" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
			</div>
			
			<div class="col">
				<div>
					<label class="modal-text-labels" for="lastName" th:text="#{messages.lastname}"></label>
				</div>
					<input class="text-input" type="text" name="lastName" th:field="*{lastName}"/>
					<span class="validationError" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div>
					<label class="modal-text-labels" for="accountNumber" th:text="#{messages.account.number}"></label>
				</div>
					<input class="text-input" type="text" name="accountNumber" th:field="*{accountNumber}"/>
					<span class="validationError" th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}"></span>
			</div>
			<div class="col">
				<div>
					<label class="modal-text-labels" for="birthday" th:text="#{messages.birthday}"></label>
				</div>
					<input class="text-input" type="date" name="birthday" th:field="*{birthday}"/>
					<span class="validationError" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
			</div>
		</div>
		
		<div class="row">	
			<div class="col">
				<div>
					<label class="modal-text-labels" for="personalNumber" th:text="#{messages.personal.number}"></label>
				</div>
					<input class="text-input" type="text" name="personalNumber" th:field="*{personalNumber}"/>
					<span class="validationError" th:if="${#fields.hasErrors('personalNumber')}" th:errors="*{personalNumber}"></span>
			</div>
			<div class="col">
				<div>
					<label class="modal-text-labels" for="email" th:text="#{messages.email}"></label>
				</div>
					<input class="text-input" type="text" name="email" th:field="*{email}"/>
					<span class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			</div>
		</div>	
		
		<div class="row">	
			<div class="col">	
				<div>
					<label class="modal-text-labels" for="phoneNumber" th:text="#{messages.phonenumber}"></label>
				</div>
					<input class="text-input" type="text" name="phoneNumber" th:field="*{phoneNumber}"/>
					<span class="validationError" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
			</div>
			
			<div class="col">
				<div>
					<label class="modal-text-labels" for="supervisor" th:text="#{messages.supervisor}"></label>
				</div>
					<input type="checkbox" id="supervisor" name="supervisor" th:field="*{supervisor}"/>
			</div>
		</div>
			
		<div class="row">	
			<div class="col">
			<div>
				<label class="modal-text-labels" for="vacancy" th:text="#{messages.vacancy}" th:if="${vacancies.size() > 0}"></label>
			</div>
				<select class="text-input" name="vacancy" th:field="*{vacancy}" th:if="${vacancies.size() > 0}">
					<option th:text="#{messages.none}" value=""></option>
					<option th:each="vacancy : ${vacancies}" th:value="${vacancy.id}" th:text="${vacancy.area.name + ' - ' + vacancy.number}"/>
				</select>
				
			</div>
				<p th:if="${vacancies.size() == 0}" th:text="#{messages.no.vacancies}"></p>
		</div>
		
		<div class="row">
				<button type="submit" th:value="#{messages.save}"class="btn btn-primary">Ruaj</button>				
		</div>
	</div>
			</form>
	</div>
		
		<div th:replace="/commons/template.html :: js-scripts"></div>
	</body>
</html>