<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	<head th:replace="commons/template.html :: headerfiles"></head>
	
	<body>
		<div th:replace="commons/template.html :: menu"></div>

		<div class="main-container">
			<h1 th:text="#{messages.settings}" class="page-title"></h1>
			
			<br/>

			<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
	
			<section class="setting_body" style="margin: 0px;">
				<div th:replace="commons/settingsmenu.html :: settingsmenu"></div>
				
				<div class="sb_table col-lg-7" style="padding-top: 2rem;">
					<div class="st_card_body">
						<h2 th:text="#{messages.personal.data}"></h2>
						
						<form method="POST" th:action="@{/profile}" sec:authorize="hasAuthority('UPDATE_PROFILE_PRIVILEGE')" th:object="${profileDTO}" style="display: initial;">
							<div class="row">
								<div class="col-md-6">
									<div class="st_card_body_typo" style="margin-bottom: 0px;">
										<h6 th:text="#{messages.name}"></h6>
										<p><input type="text" name="name" th:field="*{firstName}"/></p>
									</div>
									<span class="validationError" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
								</div>
								<div class="col-md-6">
									<div class="st_card_body_typo" style="margin-bottom: 0px;">
										<h6 th:text="#{messages.lastname}"></h6>
										<p><input type="text" name="lastname" required th:field="*{lastName}"/></p>
									</div>
									<span class="validationError" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
								</div>
								<div class="col-md-6" style="margin-top: 15px;">
									<div class="st_card_body_typo" style="margin-bottom: 0px;">
										<h6 th:text="#{messages.username}"></h6>
										<p><input type="text" name="username" disabled th:field="*{username}"/></p>
									</div>
									<span class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
								</div>
								<div class="col-md-6" style="margin-top: 15px;">
									<div class="st_card_body_typo" style="margin-bottom: 0px;">
										<h6 th:text="#{messages.phonenumber}"></h6>
										<p><input type="text" name="phonenumber" required th:field="*{phoneNumber}"/></p>
									</div>
									<span class="validationError" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
								</div>
								<div class="col-md-6 offset-md-6" style="text-align: right; margin-top: 15px;">
									<button class="btn btn-primary" th:text="#{messages.save}"></button>
								</div>
							</div>
						</form>
					</div>
					<div class="st_card_body">
						<h2 th:text="#{messages.password}"></h2>
						
						<form method="POST" th:action="@{/profile/password}" sec:authorize="hasAuthority('UPDATE_PROFILE_PRIVILEGE')" th:object="${changePasswordDTO}" style="display: initial;">
							<div class="row">
								<div class="col-md-6">
									<div class="st_card_body_typo" style="margin-bottom: 0px;">
										<h6 th:text="#{messages.password}"></h6>
										<p><input type="password" name="password" required th:field="*{password}"/></p>
									</div>
									<span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
								</div>
								<div class="col-md-6">
									<div class="st_card_body_typo" style="margin-bottom: 0px;">
										<h6 th:text="#{messages.password.confirm}"></h6>
										<p><input type="password" name="confirmPassword" required th:field="*{confirmPassword}"/></p>
									</div>
									<span class="validationError" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
								</div>
								<div class="col-md-6 offset-md-6" style="text-align: right; margin-top: 15px;">
									<button class="btn btn-primary" th:text="#{messages.save}"></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
	
		</div>
	</body>

	<div th:replace="commons/template.html :: js-scripts"></div>
</html>